.App{
  
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
  min-height:100vh;
  width:100vw;
}


.input-field{
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  padding-top:1%;
  width:40%;
  padding-bottom:1%;
  padding-left: 3%;
}

.btn{
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
  border:0 !important;
  font-weight:900 !important;
  border-radius: 10px !important;
  box-shadow: 2px 2px 3px 2px rgba(255,255,255,0.8);
}

.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}